language: python
python:
  - "3.1"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
# command to install dependencies
install:
  - pip install -r requirements-development.txt
  - pip install .
# command to run tests
script: make test
