[global]
dir = ~/.config/ofxtools
config = %(dir)s/ofxget.cfg

# Also see FI listings here:
# http://www.ofxhome.com/
# http://wiki.gnucash.org/wiki/OFX_Direct_Connect_Bank_Settings
# http://moneydance.com/synch/moneydance/fi2004.dict

[amex]
url: https://online.americanexpress.com/myca/ofxdl/desktop/desktopDownload.do?request_type=nl_ofxdownload
org: AMEX
fid: 3101

# Capital One, N.A.
[capitalone]
url: https://onlinebanking.capitalone.com/ofx/process.ofx
org: Hibernia
fid: 1001
# ABA routing number for Capital One, N.A.
bankid: 056073502
#bankid: 056073573

# Capital One Bank (USA), N.A.
[capitalonebank]
url: https://onlinebanking.capitalone.com/ofx/process.ofx
org: Hibernia
fid: 1001
bankid: 051405515

# Capital One - legacy Hibernia (branches)
[hibernia]
url: https://onlinebanking.capitalone.com/ofx/process.ofx
org: Hibernia
fid: 1001
bankid: 111915709

[compass]
url: https://www2.compassweb.com/ofxsecurity/ofx_security_server.dll
org: CompassBank
fid: 2201
bankid: 113010547

[etrade]
url: https://ofx.etrade.com/cgi-ofx/etradeofx
brokerid: etrade.com
# E*Trade doesn't support BANK msgset, only INVSTMT (i.e. brokerage downloads)
#bankid: 256072691

[chase]
url: https://ofx.chase.com
org: B1
fid: 10898
bankid: 111000614
version: 220
appid: QWIN
appver: 2500

[ameritrade]
url: https://ofxs.ameritrade.com/cgi-bin/apps/OFX
#org: Ameritrade Technology Group
#fid: AIS
fid: 5024
org: ameritrade.com
brokerid: ameritrade.com
version: 200

[optionsxpress]
url: https://ofx.optionsxpress.com/cgi-bin/ox.exe
org: 10876
brokerid: 10876

[scottrade]
url: https://ofxstl.scottsave.com 
org: Scottrade
fid: 777
brokerid: www.scottrade.com

