# Edit this file and save it to ~/.config/ofxtools/ofxget.cfg

# Configs for a financial institution are grouped into a section
[chase]
url: https://ofx.chase.com
org: B1
fid: 10898
bankid: 111000614
# List accounts by type. 
# Bank account types are "checking", "savings", "moneymrkt", or "creditline".
checking: 1234567890
# Multiple accounts of a single typed can be grouped as a sequence
savings: 1234567890, 2345678901, 3456789012

# The current implementation only allows a single bankid per section.
# If you have multiple accounts at a bank with different routing numbers,
# you'll need to configure separate sections for each bankid, like this:
[capitalonebank]
url: https://onlinebanking.capitalone.com/ofx/process.ofx
org: Hibernia
fid: 1001
# ABA routing number for Capital One Bank (USA), N.A.
bankid: 051405515
checking: 1234567890

[capitalone]
url: https://onlinebanking.capitalone.com/ofx/process.ofx
org: Hibernia
fid: 1001
# ABA routing number for Capital One, N.A.
bankid: 056073502
checking: 1234567890
moneymrkt: 1234567890

[amex]
url: https://online.americanexpress.com/myca/ofxdl/desktop/desktopDownload.do?request_type=nl_ofxdownload
org: AMEX
fid: 3101
# Since credit card accts don't have a routing #, they can be placed in
# any config section with proper url/org/fid
creditcard: 111122233344556, 222333445561111

# Brokerage accounts are specified by brokerid/investment
[ameritrade]
url: https://ofxs.ameritrade.com/cgi-bin/apps/OFX
org: Ameritrade Technology Group
fid: AIS
brokerid: ameritrade.com
investment: 2401112222, 2402223333
# Configure your login user ID here, or enter it as a command argument.
# Don't store your password here.
user: barney
# You can also configure the OFX version or the client software emulated
version: 203
appid: Money
appver: 106
